.App {
  text-align: center;
  font-family: 'Shippori Mincho B1', serif;
}

#RR {
  text-align: center;
  margin-top: 0px;
}

#l1, #l2, #l3, #l4, #l5, #l6 {
  text-decoration: none;
  color: white;
  background-color: olivedrab;
  text-transform: uppercase;
  border: white .5px solid;
  border-radius: 50px;
  padding: 0.5em 1em;
  
}

#l1:hover, #l2:hover, #l3:hover, #l4:hover, #l5:hover, #l6:hover {
  background-color: rgb(235, 174, 121);
}

.hidden {
  position: relative;
  text-align: center;
  padding-top: 100px;
  visibility: hidden;
  
}

.visible {
  position: relative;
  text-align: center;
  padding-top: 100px;
  
}

.navbar {
  background-color: orange;
}

.homepage{
  justify-content: center;
  text-align: center;
  font-family: 'Shippori Mincho B1', serif;
}

#head {
  display: flex;
  align-items: left;
}

.rand-card {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-flow: row wrap; 
  justify-content: space-around;
}

.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.plates {
  display: flex;
  flex-flow: row wrap; 
  justify-content: space-around;
}

.all-cards {
  justify-content: center;
}

.ind-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(250, 212, 116);
  border: gold 10px solid;
  border-radius: 100px;
  margin: 10px;
  width: 45%;
  
}

#name {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.ing-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#ingredients {
  display: flex;
  justify-content: center;
}

#description {
  display: flex;
  justify-content: center;
}
#cook-time {
  display: flex;
  justify-content: center;
}

@media (max-width: 480px) {
  .ind-card {
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  #head {
    display: flex;
    justify-content: center;
    
  }
  #l1, #l2, #l3, #l4, #l5, #l6 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: olivedrab;
    text-transform: uppercase;
    border: white .5px solid;
    border-radius: 50px;
    padding: 0em 1em;
    width: auto;
  }


}

@media (max-width: 600px) {
  .ind-card {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
}