.App {
  text-align: center;
}
*{
  border: green solid 2px;
}
#RR {
  text-align: center;
  margin-top: 0px;
}

.Menu {
  position: relative;
  text-align: left;
  padding-left: 30px;
  
}

.navbar {
  background-color: orange;
  
}

.homepage{
  justify-content: center;
  text-align: center;

}

/* .all-cards-body {
  display: flex;
  flex-flow: wrap row;
} */

.rand-card {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-flow: row wrap; 
  justify-content: space-around;
}

.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.plates {
  display: flex;
  flex-flow: row wrap; 
  justify-content: space-around;
}

.all-cards {
  justify-content: center;
  /* display: flex;
  flex-flow: row wrap; */
  /* align-items: center; */

  /* background-color: rgb(250, 212, 116); */
  /* display:grid;
  grid-template-areas: 
  "ti ti"
  "in de"
  "ct ct"; */
  
  /* margin-left: auto;
  margin-right: auto;
  margin-top: 20px; */
  
}

.ind-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(250, 212, 116);
  border: gold 10px solid;
  border-radius: 100px;
  margin: 10px;
  width: 45%;
}

#name {
  /* grid-area: ti; */
  display: flex;
  justify-content: center;
}

.ing-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#ingredients {
  /* grid-area: in; */
  display: flex;
  justify-content: center;
}

#description {
  /* grid-area: de; */
  display: flex;
  justify-content: center;
}
#cook-time {
  /* grid-area: ct; */
  display: flex;
  justify-content: center;
}